#proyectos-general-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky-logo-proyect {
  height: 70px;
  margin-top: 20px;
}

.wave-container-proyect {
  margin: 0px;
}

.proyect-title {
  width: 80%;
  display: flex;
  align-items: center;
  img {
    height: 40px;
  }
  h1 {
    text-align: left;
    width: 100%;
  }
}

.home-link {
  position: absolute;
  margin-top: -12px;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: rgba(245, 212, 56, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 16px;
    height: 16px;
  }
}

.body-proyect-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text {
    width: 65%;
    margin: 0;
  }
  .proyect-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 255px;
    padding: 15px;
  }
}

.prev-btn {
  transform: scaleX(-1);
}

.images-container {
  margin-top: 20px;
}

.row1,
.row3,
.row4 {
  img {
    width: 100%;
  }
}

.row2,
.row5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4px;
  img {
    width: calc(50% - 2px);
    height: 52vw;
  }
  img:first-child {
    margin-right: 2px;
  }
  img:last-child {
    margin-left: 2px;
  }
}

@media (min-width: 768px) {
  .sticky-logo-proyect {
    height: 100px;
    margin-top: 20px;
  }
  .wave-container-proyect {
    margin: 10px;
  }
  .home-link {
    margin-top: -1.7vw;
    width: 4.5vw;
    height: 4.5vw;
    img {
      width: 3.5vw;
      height: 3.5vw;
    }
  }
  .body-proyect-container {
    .content-container {
      width: 80%;
    }
    .text {
      width: 100%;
    }
    .proyect-navigation {
      width: 100%;
      padding: 30px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 25vw;
    }
  }
  .images-container {
    margin-top: 60px;
  }
}
