#manifiesto-general-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container-manifiesto{
  background-image: url("../../../assets/banner-rosa.jpg");
  background-position: bottom;
}