//COLORS

$color-pink: #e399cb;
$color-yellow: #f9f0b5;
$color-blue: #99d7f1;
$color-green: #c7dfce;
$color-dark-blue: #224f76;

.pink {
  color: $color-pink;
}
.yellow {
  color: $color-yellow;
}
.blue {
  color: $color-blue;
}
.green {
  color: $color-green;
}
.dark-blue {
  color: $color-dark-blue;
}

//FONTS

@font-face {
  font-family: "Galano Black";
  src: url("./assets/fonts/GalanoGrotesqueBlack.otf");
}

@font-face {
  font-family: "Galano Light";
  src: url("./assets/fonts/GalanoGrotesqueLight.otf");
}

@font-face {
  font-family: "Galano Medium";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/GalanoGrotesqueMedium.otf");
}

@font-face {
  font-family: "Galano Semi Bold";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/GalanoGrotesqueSemiBold.otf");
}

h1 {
  font-family: "Galano Black";
  font-size: 39px;
  margin: 10px 0 25px 0;
  line-height: 36px;
}

p {
  font-family: "Galano Light";
  font-size: 18px;
  text-align: justify;
  color: $color-dark-blue;
  font-weight: 600;
}

@media (min-width: 768px) {
  h1 {
    font-size: 85px;
    line-height: normal;
  }
  p {
    font-size: 16px;
  }
}

//CONTAINERS

* {
  box-sizing: border-box;
}

#separator-container {
  height: 20px;
}

.wave-container {
  width: 100%;
  margin-top: 100px;
  img {
    height: 40px;
    width: 100%;
  }
}

.content-container {
  width: 80%;
  height: 100%;
  // max-width: 1224px;
  .text {
    margin-top: 20px;
    .signature {
      text-align: end;
    }
  }
}

.image-container {
  background-size: cover;
  background-position: top;
  margin-top: 20px;
  width: 100vw;
  height: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100vw;
  }
  .low-opacity-box {
    display: none;
  }
}

.image-container-m {
  background-size: cover;
  background-position: top;
  margin-top: 20px;
  width: 100vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100vw;
  }
  .low-opacity-box {
    display: none;
  }
}

@media (min-width: 768px) {
  .wave-container {
    margin-top: 110px;
    img {
      height: 80px;
    }
  }
  .content-container {
    width: 80%;
    height: 100%;
    // max-width: 1224px;
    .title {
      margin-top: -20px;
    }
    .text {
      margin-top: 20px;
      .signature {
        text-align: end;
      }
    }
  }
  .image-container {
    background-position: center;
    width: 80%;
    height: 34vw;
    img {
      width: 100%;
    }
    .low-opacity-box {
      background-color: rgba(255, 255, 255, 0.8);
      width: 75%;
      height: 75%;
      display: flex;
    }
  }

  .image-container-m {
    width: 80%;
    height: 14.8vw;
    img {
      width: 100%;
    }
    .low-opacity-box {
      background-color: rgba(255, 255, 255, 0.8);
      width: 75%;
      height: 75%;
      display: flex;
    }
  }
}
