.modal-form-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: center;
    align-items: center;
    &.show-modal {
      display: flex;
    }
  }
  
  .fade-in {
    -webkit-animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}